*{
    font-family: 'Times New Roman', Times, serif;
    padding: 0px;
    margin: 0px;
    text-align: justify;
    box-sizing: border-box;
}
body{
    background: white;
}
p{
    font-size: 1em;
    line-height: 1.5em;
}
a{
    text-decoration: none;
    color: #000;
}
.Email{
    color: blue;
}
.text-container{
    width: 720;
    height: 800;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    margin-top: 1%;
    background:dodgerblue;
   }

   /*header & footer*/
header{
    width: 100%;
    padding: 20px 0px;
    background: url("cover.jpg") #4f4f4f;
    background-size: cover;
    box-shadow: 0px 0px 15px #333;
}
 footer{
     width: 100%;
    padding: 20px 0px;
    background: url("cover.jpg") #4f4f4f;
    background-size: cover;
    box-shadow: 0px 0px 15px #333;
    border-bottom: 2px solid #fff;
    height: 70px;
 }
header{
    border-bottom: 2px solid #fff;
    height: 120px;
}
header h1{
    color: white;
    font-size: 1.5em;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
footer{
    border-top: 2px solid #fff;
    }
footer p{

    margin: 0 auto;
    color: #fff;
    text-align: center;
}
footer a{
    color: red;
}
section{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px #bbb;
    background-color:rgb(203, 203, 219);
}
section h2{
    margin: 20px 0;
    width: 90%;
    color: blue;
    text-align: center;
}
h3{
    font-size: 1em;
    line-height: 1.5em;
}
section > div{
    width: 90%;
}
.photo{
    text-align: center;
}
.photo img{
    width: 150px;
    height: 150px;
    border: 3px solid #fff;
    box-shadow: 0px 0px 10px #777;
    border-radius: 50%;
    margin-top: -80px;
}
.contact-flex{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.contact-flex p:first-child{
    flex: 0 0 30%;

}
.contact-flex p:last-child{
    flex: 0 0 30%;

}
.exp{
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.exp h3{
    font-size: 1.2em;
}